Parameters:
  Region: 'cn-hangzhou'
  Name: 'nextchat-web'
  GatewayId: gw-cvcpbhum1hkhtugt3hm0
SceneMetadata:
  Name:
    zh-cn: "AI 网关驱动企业级 ChatGPT-Next-Web"
    en: "AI Gateway Drives Enterprise-Level ChatGPT-Next-Web"
  Description:
    zh-cn: "一键部署您的企业级 ChatGPT 应用，支持多模型适配，AI 安全防护，AI 统计等企业级特性。使得 AI 与网关的集成更加便捷和高效。详情请查看[ChatGPT Next Web 官网](https://github.com/ChatGPTNextWeb/ChatGPT-Next-Web)。"
    en: "Deploy your enterprise-level ChatGPT application with multi-model adaptation, AI security protection, AI statistics, and other enterprise-level features. This makes the integration of AI and the gateway more convenient and efficient. For more details, please visit the [ChatGPT Next Web official website](https://github.com/ChatGPTNextWeb/ChatGPT-Next-Web)."
  Logo: 'resources/icons/scene_logo.png'

SceneProfiles:
  - DisplayName:
      zh-cn: 单机版
      en: Single Service
    Template: "templates/msa.yml"
    Spec:
      Service: "templates/cs.spec.yml"
    Parameters:
      Backend:
        Cpu: 1
        Memory: 4096
        Handler: index.handler
